
body {
  color: #ffcc00;
}
header {
  text-align: center;
  width: 100%;
}
h1 {
  color: #ffcc00;
}
p {
  color: #ff5050;
}
nav {
  text-align: center;
  display: inline-block;
}
li {
  display: block;
  float: left;
  padding: 10px;
}